.azs{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &_stick{
        width: 0px;
        height: 400px;
        border: 3px dashed #BFBFBF
    }
    &_box{
        width: 1200px;
        height: 591px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 2px dashed #2D2D2D;
        border-radius: 10px;
        &_text{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 57px;
        text-align: center;
        color: #000000;
        & span{
            color: #ffd900;
        }
        }
        &_subtext{
        width: 845px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 29px;
        text-align: center;
        color: #5B5B5B;
        }
        &_wrapper{
            width: 90%;
            height: 316px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &_contener{
            width: 350px;
            height: 316px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            & img{
                width: 330px;
                height: 200px;
            }
            &_text{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #000000;
            & span{
                color: #ffd000;
            }
            }
            &_subtext{
            width: 262px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #5B5B5B;
            }
        }
        &_btn{
            width: 444px;
            height: 50px;
            background-color: inherit;
            border: 2px solid #ffd900;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s linear;
            &_text{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #DBA833;
                transition: all 0.5s linear;
            }
            &:hover{
                background: #ffd000;
                border: none;
                transition: all 0.7s linear;
            }
            &:hover .azs_box_btn_text{
                color: aliceblue;
                transition: all 0.7s linear;
            }
        }
    }
}

@media (max-width: 500px){
    .azs{
        width: 90%;
        height: 1245px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px auto;
        &_stick{
            display: none;
        }
        &_box{
            width: 100%;
            height: 100%;
            justify-content: space-between;
            padding: 20px 0px;
            &_text{
            width: 299px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            color: #000000;
            }
            &_subtext{
                width: 292px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #5B5B5B;
            }
            &_wrapper{
                width: 100%;
                height: auto;
                flex-direction: column;
                gap: 20px;
            }
            &_contener{
                width: 80%;
                height: 280px;
                & img{
                    width: 100%;
                }
            }
            &_btn{
                width: 80%;
            }
        }
    }
}