.clients{
    width: 1200px;
    height: 180px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &_text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    color: #DBA833;
    }
    &_subtext{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #5B5B5B;
    }
    &_box{
        width: 1200px;
        height: 69px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_img1{
            width: 148px;
            height: 48px
        }
        &_img2{
            width: 81px;
            height: 53px
        }
        &_img3{
            width: 220px;
            height: 36px
        }
        &_img4{
            width: 119px;
            height: 69px
        }
        &_img5{
            width: 121px;
            height: 44px
        }
        &_img6{
            width: 293px;
            height: 56px
        }
    }
}

@media (max-width: 500px){
    .clients{
        width: 90%;
        height: 155px;
        &_text{
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 700;
            font-size: 27px;
            line-height: 32px;
            text-align: center;
            color: #DBA833;
        }
        &_subtext{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #5B5B5B;
        }
        &_box{
            width: 90%;
            height: 69px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: auto;
            &_img1{
                width: 148px;
                height: 48px
            }
            &_img1{
                width: 81px;
                height: 53px
            }
            &_img1{
                width: 220px;
                height: 36px
            }
            &_img1{
                width: 119px;
                height: 69px
            }
            &_img1{
                width: 121px;
                height: 44px
            }
            &_img1{
                width: 293px;
                height: 56px
            }
        }
    }
}