.market{
    width: 1050px;
    height: 580px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &_title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    color: #DBA833;
    & span{
        color: black;
    }
    }
    &_box{
        width: 100%;
        height: 430px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_contener{
            width: 310px;
            height: 430px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            border: 1px solid black;
            padding: 0px 0px 20px 0px;
            &_img{
                width: 310px;
                height: 190px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid black;
                border-radius: 10px 10px 0px 0px;
                &1{
                    width: 185px;
                    height: 156px;
                }
            }
            &_title{
            width: 270px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            }
            &_subtext{
            width: 270px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            }
            &_btn{
                width: 270px;
                height: 40px;
                background: inherit;
                border-radius: 10px;
                border: 1px solid #DBA833;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5s linear;
                &_text{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: #DBA833;
                transition: all 0.5s linear;
                }
                &:hover{
                    background-color: #DBA833;
                    border: none;
                    transition: all 0.5s linear;
                }
                &:hover .market_box_contener_btn_text{
                    color: aliceblue;
                    transition: all 0.5s linear;
                }
            }
        }
    }
    &_btn{
        width: 350px;
        height: 50px;
        background-color: inherit;
        border: 2px solid #ffd900;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s linear;
        &_text{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #DBA833;
            transition: all 0.5s linear;
        }
        &:hover{
            background-color: #DBA833;
            border: none;
            transition: all 0.5s linear;
        }
        &:hover .market_btn_text{
            color: aliceblue;
            transition: all 0.5s linear;
        }
    }
}

@media (max-width: 500px){
    .market{
        width: 90%;
        height: 100%;
        gap: 20px;
        &_title{
        width: 60%;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 32px;
        text-align: center;
        color: #DBA833;
        & span{
            color: black;
        }
        }
        &_box{
            width: 100%;
            height: 100%;
            display: flex;   
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            &_contener{
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    display: none;
                }
                width: 310px;
                height: 430px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border-radius: 10px;
                border: 1px solid black;
                padding: 0px 0px 20px 0px;
                &_img{
                    width: 310px;
                    height: 190px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid black;
                    border-radius: 10px 10px 0px 0px;
                    &1{
                        width: 185px;
                        height: 156px;
                    }
                }
                &_title{
                width: 270px;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
                }
                &_subtext{
                width: 270px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                }
                &_btn{
                    width: 270px;
                    height: 40px;
                    background: inherit;
                    border-radius: 10px;
                    border: 1px solid #DBA833;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.5s linear;
                    &_text{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    color: #DBA833;
                    transition: all 0.5s linear;
                    }
                    &:hover{
                        background-color: #DBA833;
                        border: none;
                        transition: all 0.5s linear;
                    }
                    &:hover .market_box_contener_btn_text{
                        color: aliceblue;
                        transition: all 0.5s linear;
                    }
                }
            }
        }
        &_btn{
            width: 310px;
            height: 50px;
            background-color: inherit;
            border: 2px solid #ffd900;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s linear;
            &_text{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #DBA833;
                transition: all 0.5s linear;
            }
            &:hover{
                background-color: #DBA833;
                border: none;
                transition: all 0.5s linear;
            }
            &:hover .market_btn_text{
                color: aliceblue;
                transition: all 0.5s linear;
            }
        }
    }
}