.oil{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/oil-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    &_box{
        width: 530px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(44, 44, 44, 0.767);
        backdrop-filter: blur(2.5px);
        border-radius: 10px;
        &_info{
            width: 360px;
            height: 278px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            &_text{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 39px;
                color: #FFFFFF;
            }
            &_subtext{
                width: 100%;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #CECECE;
            }
            &_div{
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #ff9900;
                border-radius: 6px;
                transition: all 0.5s linear;
                &_text{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    color: #FFFFFF;
                    transition: all 0.5s linear;
                }
            &:hover{
                background: inherit;
                border: 2px solid #ff9900;
                transition: all 0.7s linear;
            }
            &:hover .oil_box_info_div_text{
                color: #ff9900;
                transition: all 0.7s linear;
            }
            }
        }
    }
}

@media (max-width: 500px) {
    .oil{
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/oil-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        &_box{
            width: 300px;
            height: 349px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(44, 44, 44, 0.767);
            backdrop-filter: blur(2.5px);
            border-radius: 10px;
            &_info{  
                width: 250px;
                height: 349px;
                justify-content: space-around;
                &_text{
                    font-size: 24px;
                    line-height: 29px;
                }
                &_subtext{
                    font-size: 16px;
                    line-height: 19px;
                }
                &_div{
                    height: 40px;
                }
            }
        }
    }
}