.reviews{
    width: 1200px;
    height: 1301px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 3px dashed rgb(255, 174, 0);
    border-radius: 80px;
    &_title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    color: #000000;
    }
    &_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    &_contener{
        width: 990px;
        height: 360px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px dashed rgb(51, 51, 51);
        border-radius: 20px;
        &_text{
        width: 200px;
        height: 44px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #B6B6B6;
        transform: rotate(-90deg);
        }
        & div:nth-child(1){
            width: 350px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &_img{
            width: 212px;
            height: 300px;
        }
        &_info{
            width: 600px;
            height: 197px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &_text{
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 38px;
            color: #DBA833;
            }
            &_subtext{
            width: 100%;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 29px;
            color: #5B5B5B;
            }
        }
    }
}

@media (max-width: 500px){
    .reviews{
        width: 90%;
        height: 360px;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 3px dashed rgb(255, 174, 0);
        border-radius: 80px;
        &_title{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 32px;
        text-align: center;
        color: #000000;
        }
        &_box{
            width: 320px;
            overflow: auto;
            display: flex;
            flex-direction: row;
        }
        &_contener{
            width: 320px;
            height: 256px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px dashed rgb(51, 51, 51);
            border-radius: 20px;
            & div:nth-child(1){
                display: none;
            }
            &_info{
                width: 320px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &_text{
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #DBA833;
                }
                &_subtext{
                width: 100%;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #5B5B5B;
                }
            }
        }
    }
}