.supplies{
    width: 1200px;
    height: 617px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    &_text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    color: #000000;
    & span{
        color: #ffc400;
    }
    }
    & div{
        border: 4px dashed #ffc400;
        border-radius: 20px;
        outline: none;
    }
}

@media (max-width: 500px){
    .supplies{
        width: 90%;
        height: 300px;
        margin: 50px auto;
        &_text{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 32px;
        text-align: center;
        color: #000000;
        & span{
            color: #ffc400;
        }
        }
        & div{
            width: 100%;
            height: 226px;
        }
    }
}