.wrapper{
    width: 100%;
    height: 750px;
    background-image: url(../img/image\ 18.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 97px 61px -15px rgba(0, 0, 0, 0.95) inset;
    -moz-box-shadow: 0px 97px 61px -15px rgba(0, 0, 0, 0.95) inset;
    box-shadow: 0px 97px 61px -15px rgba(0, 0, 0, 0.95) inset;
    &_navbar{
        width: 1200px;
        height: 740px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 150px;
        padding: 20px 0px;
        .header{
        width: 1200px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
        &_img{
            width: 100px;
            height: 80px;
        }
        &_title{
            width: 1066px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            &_stick{
                width: 100%;
                height: 0px;
                border: 1px dashed #979797;
            }
            &_list{
                width: 100%;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &_text{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
                color: #FFFFFF;
                text-align: center;
                display: flex;
                align-items: center;
                transition: all 0.3s linear;
                &:hover{
                    color: #FFC700;
                    transition: all 0.5s linear;
                }
                }
                &_get-out{
                    width: 21px;
                    height: 21px;
                    fill: #FFFFFF;
                    transition: all 0.3s linear;
                    &:hover{
                        fill: #FFC700;
                        transition: all 0.5s linear;
                    }
                }
            }
            &_info{
                width: 100%;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &_working-time{
                    width: 169px;
                    height: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &_icon{
                        width: 19px;
                        height: 19px;
                        fill: #e2e2e29a;
                        &:hover{
                            fill: #fdde6e;
                            transition: all 0.4s linear;
                        }
                    }
                    &_text{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 18px;
                        color: #e2e2e29a;
                        text-align: center;
                        &:hover{
                            color: #b3fc9db9;
                            transition: all 0.7s linear;
                        }
                    }
                }
                &_email{
                    width: 149px;
                    height: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &_icon{
                        width: 19px;
                        height: 19px;
                        fill: #e2e2e29a;
                        &:hover{
                            fill: #fdde6e;
                            transition: all 0.4s linear;
                        }
                    }
                    &_text{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 18px;
                        color: #e2e2e29a;
                        text-align: center;
                        &:hover{
                            color: #b3fc9db9;
                            transition: all 0.7s linear;
                        }
                    }
                }
                &_phone{
                    width: 149px;
                    height: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &_icon{
                        width: 19px;
                        height: 19px;
                        fill: #e2e2e29a;
                        &:hover{
                            fill: #fdde6e;
                            transition: all 0.4s linear;
                        }
                    }
                    &_text{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 18px;
                        color: #e2e2e29a;
                        text-align: center;
                        &:hover{
                            color: #b3fc9db9;
                            transition: all 0.7s linear;
                        }
                    }
                }
            }
            &_burger{
                width: 50px;
                height: 25px;
                display: none;
                flex-direction: column;
                align-items: start;
                justify-content: space-between;
                &:hover .header_title_burger_line{
                    background-color: #fdde6e;
                    transition: all 0.4s linear;
                }
                & .header_title_burger_line{
                    transition: all 0.6s linear;
                }
                &_line{
                    width: 40px;
                    height: 5px;
                    background-color: #000000;
                    border-radius: 3px;
                }
            }
        }
        }
    }
    &_intro{
        width: 844px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
        &_title{
        width: 826px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        text-align: center;
        color: #ffffff;
        & span{
            color: #FFC700;
        }
        }
        &_block{
            width: 100%;
            height: 192px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            &_div{
                width: 100%;
                height: 49px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &_btn{
                    width: 191px;
                    height: 49px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    background: #242424;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 29px;
                    color: #DBA833;
                }
                &_btn2{
                    width: 338px;
                    height: 49px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    background: #242424;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 29px;
                    color: #DBA833;
                }
                &_btn3{
                    width: 235px;
                    height: 49px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    background: #242424;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 29px;
                    color: #DBA833;
                }
            }
            &_text{
                width: 100%;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 29px;
                text-align: center;
                color: #FFFFFF;
            }
            &_btn{
                width: 191px;
                height: 49px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                background: #ffa600;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 29px;
                color: #ffffff;
            }
        }
    }
    &_stick{
        width: 0px;
        height: 600px;
        border-radius: 5px;
        border: 1px dashed #9c9c9c;
    }
}

@media (max-width: 500px){
    .wrapper{
        height: 681px;
        background-position: center;
        &_stick{
            display: none;
        }
        &_navbar{
            width: 90%;
            height: 100%;
            gap: 40px;
            .header{
            width: 90%;
            &_title{
                width: 70%;
                flex-direction: row;
                &_list{
                    display: none;
                }
                &_info{
                    width: 166px;
                    height: 80px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                }
                &_burger{
                    display: flex;
                }
                &_stick{
                    display: none;
                }
            }
        }
        }
        &_intro{
            width: 90%;
            gap: 30px;
            &_title{
                width: 90%;
                font-size: 36px;
                line-height: 100%;
            }
            &_block{
                gap: 20px;
                &_div{
                    width: 90%;
                    height: auto;
                    gap: 10px;
                    flex-direction: column;
                    &_btn{
                        width: 50%;
                        font-size: 16px;
                    }
                    &_btn2{
                        width: 70%;
                        font-size: 16px;
                    }
                    &_btn3{
                        width: 60%;
                        font-size: 16px;
                    }
                }
                &_text{
                    width: 90%;
                    font-size: 16px;
                }
            }
        }
    }
}