.section-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    &-title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 57px;
        text-align: center;
        color: #000000;

        &-sp {
            color: #DBA833;
        }
    }
    &-box {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        margin-top: 40px;
    }
    &-items {
        display: flex;
        align-items: center;
        gap: 5px;
        height: 400px;

        &-img:nth-child(odd) {
            width: 60%;
            height: 400px;
        }
        &:nth-child(2) {
            flex-direction: row-reverse;
        }
    }
    @media only screen and (max-width : 500px) {
        &-title {
            width: 95%;
            font-style: normal;
            font-weight: 700;
            font-size: 27px;
            line-height: 32px;
            text-align: center;
        }
        &-box {
            width: 100%;
            gap: 5px;
            margin-top: 25px;
        }
        &-items {
            width: 95%;
            height: 150px;
            gap: 3px;

            &-img {
                width: 40%;
                height: 150px;

                &:nth-child(odd) {
                    width: 60%;
                    height: 150px;  
                }
            }
        }
    }
}
.section-doc {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;

    &-title {
        width: 580px;
        height: 114px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 57px;
        text-align: center;
        color: #000000;
        &-sp {
            color: #DBA833;
        }
    }
    &-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #5B5B5B;
    }
    &-img {
        width: 100%;
        height: auto;
        margin-top: 25px;
    }
    @media only screen and (max-width : 500px ) {
        gap: 5px;
        &-title {
            width: 95%;
            height: auto;
            font-style: normal;
            font-weight: 700;
            font-size: 27px;
            line-height: 32px;
            text-align: center;
        }
        &-text {
            width: 95%;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
        }
        &-img {
            width: 95%;
        }
    }
}
.mini-azs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 40px;

    &-title {
        width: 1132px;
        height: 57px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 57px;
        text-align: center;
        color: #000000;

        &-sp {
            color: #DBA833;
        }
    }
    &-text {
        width: 662px;
        height: 29px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #5B5B5B;
    }
    &-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    &-items {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        border: 1px dashed #DBA833;
        border-radius: 16px;
        width: 350px;
        height: 240px;
        padding: 25px 20px 20px 20px;

        &-text {
            width: 95%;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #DBA833;
        }
    }
    &-pump {
        color: #DBA833;
        width: 108px;
        height: 111px;
    }
    @media only screen and (max-width : 500px) {
        gap: 20px;
        &-title {
            width: 90%;
            font-style: normal;
            font-weight: 700;
            font-size: 27px;
            line-height: 32px;
            text-align: center;
        }
        &-text {
            width: 90%;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 19px;
            text-align: center;
            color: #5B5B5B;
        }
        &-box {
            width: 100%;
            flex-direction: column;
        }
    }
}   
.section {
    width: 100%;
    margin-top: 120px;

    &-cont {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;

    }
}